@{
    ViewData["Title"] = "Home Page";
}

<div id="bannerContainer" style="background-color: lightblue; max-height:150px; height:100%; width:auto; padding: 15px 10px 15px 10px">
    <div><img src="https://via.placeholder.com/120" style="max-width: 120px; width:100%" /></div>
</div>

<div class="text-left">
    <p>Welcome to my First ASP.Net Core Webpage!</p>
</div>
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col" style="border: 1px solid black">
                <div>Blog section</div>
                <div><p>I suck at writing things which is why im doing coding and not copywriting. Enjoy some lorem ipsum: Donec libero sem, malesuada ut risus id, dignissim posuere felis. Nam condimentum accumsan leo non mollis. Sed consectetur sodales laoreet. Nullam maximus nibh molestie fermentum auctor. Donec eleifend tempus pellentesque. Fusce nisi metus, elementum venenatis lacinia eu, fringilla in urna. In pharetra odio mi, ut tempor ante tristique quis. Nam rhoncus cursus pellentesque. Etiam non risus lacus. Nunc consequat nunc nec commodo efficitur. Maecenas sed magna ut orci gravida rutrum nec eget libero.</p></div>
            </div>
            <div class="col" style="border: 1px solid black">
                <div>Stuff about me</div>
                <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non felis dictum, efficitur mauris ac, lobortis risus. Vivamus id dui eget leo feugiat ullamcorper ut in lorem. Nullam non arcu velit. Ut ac pretium lorem. Donec libero sem, malesuada ut risus id, dignissim posuere felis. Nam condimentum accumsan leo non mollis. Sed consectetur sodales laoreet. Nullam maximus nibh molestie fermentum auctor. Donec eleifend tempus pellentesque. Fusce nisi metus, elementum venenatis lacinia eu, fringilla in urna. In pharetra odio mi, ut tempor ante tristique quis. Nam rhoncus cursus pellentesque. Etiam non risus lacus. Nunc consequat nunc nec commodo efficitur. Maecenas sed magna ut orci gravida rutrum nec eget libero.</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aR-KAldshAE?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay = true; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col" style="border: 1px solid black">
                <div>My Favorite Summer Spot</div>
<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2931.5664436951315!2d-83.06359328420987!3d42.71290017916489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824e6158d91eb45%3A0x436c2372f2df3903!2sStoney%20Creek%2C%20Washington%20Township%2C%20MI!5e0!3m2!1sen!2sus!4v1578618824169!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
        </div>

    </div>
</div>